In [1]:
import pandas as pd

In [12]:
data = pd.read_excel('C:/Users/Innovation/Desktop/김동요/jupyter/BA/변수 9개 계층적 군집 분석 피벗 테이블용.xlsx')

In [13]:
data.describe()

,Market_Cap,Beta,PE_Ratio,ROE,ROA,Asset_Turnover,Leverage,Rev_Growth,Net_Profit_Margin,cluster
count,21.000000,21.000000,21.000000,21.000000,21.000000,21.000000,21.000000,21.000000,21.000000,21.000000
mean,57.651429,0.525714,25.461905,25.795238,10.514286,0.700000,0.585714,13.370952,15.695238,2.666667
std,58.602960,0.256741,16.310257,15.084975,5.321399,0.216795,0.781310,11.048335,6.562048,1.110555
min,0.410000,0.180000,3.600000,3.900000,1.400000,0.300000,0.000000,-3.170000,2.600000,1.000000
25%,6.300000,0.350000,18.900000,14.900000,5.700000,0.600000,0.160000,6.380000,11.200000,2.000000
50%,48.190000,0.460000,21.500000,22.600000,11.200000,0.600000,0.340000,9.370000,16.100000,3.000000
75%,73.840000,0.650000,27.900000,31.000000,15.000000,0.900000,0.600000,21.870000,21.100000,3.000000
max,199.470000,1.110000,82.500000,62.900000,20.300000,1.100000,3.510000,34.210000,25.500000,5.000000

In [14]:
data.groupby(['cluster']).mean()

,Market_Cap,Beta,PE_Ratio,ROE,ROA,Asset_Turnover,Leverage,Rev_Growth,Net_Profit_Margin
cluster,,,,,,,,,
1,26.906667,0.640000,55.633333,10.100000,4.200000,0.700000,0.316667,6.996667,5.133333
2,62.882857,0.407143,20.228571,30.714286,13.385714,0.714286,0.385714,5.382857,20.514286
3,10.216667,0.583333,18.550000,15.766667,6.566667,0.533333,0.710000,23.601667,14.133333
4,157.017500,0.480000,22.225000,44.425000,17.700000,0.950000,0.220000,18.532500,19.575000
5,0.410000,0.850000,26.000000,24.100000,4.300000,0.600000,3.510000,6.380000,7.500000